<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.librarylyh.mapper.BoardAttachMapper">

	<insert id="insert">
		insert into tbl_attach (uuid, uploadPath, fileName,
		fileType, bno)
		values (#{uuid}, #{uploadPath}, #{fileName},
		#{fileType}, #{bno} )
	</insert>
	
	<insert id="insertRequest"> <!-- 희망도서 첨부파일 2024 09 30 -->
		insert into tbl_requestBookAttach (r_uuid, r_uploadPath, r_fileName,
		r_fileType, r_bno)
		values (#{r_uuid}, #{r_uploadPath}, #{r_fileName}, #{r_fileType}, #{r_bno} )
	</insert>	
	
<update id="insertBoard">
    update tbl_board
    set fileName = #{fileName}
    where bno = #{bno}
</update>

<update id="insertBoardNoImage"> <!-- 첨부파일 제거시 우측 이미지 삭제 2024 09 28 -->
    update tbl_board
    set fileName = '.no'
    where bno = #{bno}
</update>

	<delete id="delete">

		delete from tbl_attach where uuid = #{uuid}

	</delete>

	<select id="findByBno"
		resultType="kr.co.librarylyh.domain.BoardAttachVO">
		select * from tbl_attach where bno = #{bno}
	</select>

	<delete id="deleteAll">

		delete tbl_attach where bno = #{bno}

	</delete>

	<select id="getOldFiles"
		resultType="kr.co.librarylyh.domain.BoardAttachVO">

		select * from tbl_attach where uploadpath = to_char(sysdate -1 ,'yyyy\mm\dd')

	</select>
	

</mapper>
