<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- xml를 활용한 공통코드 -->

<mapper namespace="kr.co.librarylyh.mapper.BookMapper">


<insert id="BookInsert">

<![CDATA[

insert into book_tbl(isbn13, book, author, publisher, price, photo) values
(#{isbn13}, #{book}, #{author}, #{publisher}, #{price}, #{photo})
]]>
</insert>

<select id="BookList" resultType="kr.co.librarylyh.domain.BookVO">

<![CDATA[
select * from book_tbl
]]>

</select>

<select id="BookRead" resultType="kr.co.librarylyh.domain.BookVO">

<![CDATA[
select * from book_tbl where isbn13 = #{isbn13}
]]>

</select>


<update id="BookUpdate">

<![CDATA[
update book_tbl set 
isbn13 = #{isbn13},
book = #{book},
author = #{author},
publisher = #{publisher},
price = #{price}, 
photo = #{photo}
where isbn13 = #{isbn13}
	
]]>
</update>


<delete id="BookDelete">
delete from book_tbl where isbn13 = #{isbn13}
</delete>



</mapper>