<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- xml를 활용한 공통코드 -->

<mapper namespace="kr.co.librarylyh.mapper.CartMapper">

<insert id="cartInsert">

<![CDATA[
insert into cart_tbl (cart_id, user_id, isbn13, c_count, photo, c_title, c_price, c_totalPrice)
values (#{cart_id}, #{user_id}, #{isbn13}, #{c_count}, #{photo}, #{c_title}, #{c_price}, #{c_totalPrice})
]]>
</insert>



<select id="CartRead" resultType="kr.co.librarylyh.domain.CartVO">

<![CDATA[
select * from cart_tbl where cart_id = #{cart_id}
]]>

</select>

<select id="cartList" resultType="kr.co.librarylyh.domain.CartVO">

<![CDATA[
select * from cart_tbl
]]>

</select>

<update id="cartUpdate">

<![CDATA[
update cart_tbl set
cart_id = #{cart_id},
user_id = #{user_id},
isbn13 = #{isbn13},
c_count = #{c_count},
photo = #{photo},
c_title = #{c_title},
c_price = #{c_price},
c_totalPrice = #{c_totalPrice}
where cart_id = #{cart_id}	
]]>

</update>

<delete id="cartDelete">
<![CDATA[
DELETE FROM cart_tbl WHERE cart_id = {cart_id};
]]>
</delete>


<delete id="clearBasket">
<![CDATA[
DELETE FROM cart_tbl WHERE user_id = {user_id};
]]>
</delete>


</mapper>