<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- xml를 활용한 공통코드 -->

<mapper namespace="kr.co.librarylyh.mapper.CartMapper">

<insert id="cartInsert" parameterType="kr.co.librarylyh.domain.CartVO">
<selectKey keyProperty="cart_id" order="BEFORE" resultType="String">
select seq_cart.nextval from dual
</selectKey>
<![CDATA[
insert into cart_tbl (cart_id, user_id, isbn13, photo, c_title)
values (#{cart_id}, #{user_id}, #{isbn13}, #{photo}, #{c_title})
]]>
</insert>

<insert id="CartIdPut" >
<![CDATA[
insert into cart_tbl (cart_id, user_id, isbn13, photo, c_title)
values (#{cart_id}, #{user_id}, #{isbn13}, #{photo}, #{c_title})
]]>
</insert><!-- CartId를 알아내기 위한 Insert -->


<select id="cartRead" resultType="kr.co.librarylyh.domain.CartVO">

<![CDATA[
select * from cart_tbl where cart_id = #{cart_id} and isbn13 = #{isbn13}
]]>

</select>

<select id="cartList" resultType="kr.co.librarylyh.domain.CartVO">

<![CDATA[
select * from cart_tbl where cart_id = #{cart_id}
]]>

</select>

<update id="cartUpdate">

<![CDATA[
update cart_tbl set

isbn13 = #{isbn13},
c_count = #{c_count},
photo = #{photo},
c_title = #{c_title}
where cart_id = #{cart_id}	
]]>

</update><!--  업뎃은 현재 사용하지 않지만 나중에 상황 위해 보류 -->

<delete id="cartDelete">
<![CDATA[
DELETE FROM cart_tbl WHERE cart_id = #{cart_id} and isbn13 = #{isbn13}
]]>
</delete>


<delete id="clearBasket">
<![CDATA[
DELETE FROM cart_tbl WHERE cart_id = #{cart_id}
]]>
</delete>

<select id="cartCount" resultType="int">
<![CDATA[
select count(*) FROM cart_tbl WHERE cart_id = #{cart_id}
]]>
</select>

<select id="cartIdCheck" resultType="int">
<![CDATA[
select count(*) FROM cart_tbl WHERE user_id = #{user_id} and to_char(cartDate) = to_char(TO_DATE(#{cartDate},'YYYY-MM-DD'))
]]>
</select>

<select id="findCartID" resultType="String">
<![CDATA[
select cart_id FROM cart_tbl WHERE user_id = #{user_id} and to_char(cartDate) = to_char(TO_DATE(#{cartDate},'YYYY-MM-DD'))
]]>
</select>

</mapper>