<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.librarylyh.mapper.ReplyMapper">

<insert id="insert">
	<![CDATA[
		insert into tbl_reply (rno, bno, reply, replyer)
		values(seq_reply.nextval, #{bno}, #{reply}, #{replyer})
	]]> <!-- sql 파일의 부등호 계산을 db에서 하게끔 처리 -->
</insert> <!-- result = 성공 1 | 실패 0 -->

<select id="read" resultType="kr.co.librarylyh.domain.ReplyVO"><!-- resultType 객체로 나옴 -->
	<![CDATA[
		select * from tbl_reply where rno = #{rno}
	]]>
</select>

<update id="update">
	<![CDATA[
		update tbl_reply set reply = #{reply}, updateDate = sysdate
		where rno = #{rno}
	]]>
</update>

<delete id="delete">
	<![CDATA[
		delete from tbl_reply where rno = #{rno}
	]]>
</delete>

<!-- 페이징 + bno를 이용한 리스트 출력용 -->
<select id="getListWithPaging" resultType="kr.co.librarylyh.domain.ReplyVO">
	<![CDATA[
		select  rno, bno, reply, replyer, replydate, updatedate
 		from (
    	select /*+INDEX(tbl_reply idx_reply) */ 
     	rownum rn,  rno, bno, reply, replyer, replyDate, updatedate
    	from tbl_reply
    	where bno =  #{bno}
    	and rno > 0
    	and rownum <= #{cri.pageNum} * #{cri.amount}
   		) 
   		where rn > (#{cri.pageNum} -1) * #{cri.amount}
   	]]>
</select>
<!-- 댓글 수 파악 -->
<select id="getCountByBno" resultType="int">
	<![CDATA[
		select count(rno) from tbl_reply where bno = #{bno}
	]]>
</select>

</mapper>