<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- xml를 활용한 공통코드 -->
<!-- Mapper 인터페이스의 SQL 처리용 -->
<mapper namespace="kr.co.librarylyh.mapper.UserMapper">
	
	<insert id="join"> <!-- 회원가입 메서드 -->
	<selectKey keyProperty="u_id" order="BEFORE" resultType="String">
		select dbms_random.String('X',10) u_id from dual 
	</selectKey>	
		<![CDATA[
			insert into member_tbl(u_id, name, birth, phone, email, id, pw, nickName) values(#{u_id}, #{name}, #{birth}, #{phone}, #{email}, #{id}, #{pw}, #{nickName} )
		]]>
	</insert>
	
	<!-- 중복 아이디 체크 -->
	<select id="idCheck" resultType="int">
		<![CDATA[
			select count(*) from member_tbl where id = #{id}
		]]>
	</select>
	
	<!-- 중복 닉네임 체크 -->
	<select id="nickNameCheck" resultType="int">
		<![CDATA[
			select count(*) from member_tbl where nickName = #{nickName}
		]]>
	</select>
	
	<!-- 중복 이메일 체크 -->
	<select id="emailCheck" resultType="int">
		<![CDATA[
			select count(*) from member_tbl where email = #{email}
		]]>
	</select>
	
	<!-- 로그인 체크 -->
	<select id="login" resultType="kr.co.librarylyh.domain.UserVO" >
		<![CDATA[
			select * from member_tbl where id = #{id} and pw = #{pw}
		]]>
	</select>
	
	<!-- 아이디 찾기 -->
	<select id="findUserId" resultType="kr.co.librarylyh.domain.UserVO">
		<![CDATA[
			select * from member_tbl where name = #{name} and email = #{email}
		]]>
	</select>
	
	<!-- 비밀번호 찾기 -->
	<select id="findUserPw" resultType="Integer">
		<![CDATA[
			select count(*) from member_tbl where id = #{id} and name = #{name} and email = #{email}
		]]>
	</select>
	
	<!-- 비밀번호 업데이트 -->
	<update id="pwUpdate" >
		<![CDATA[
			update member_tbl set pw = #{pw} where id = #{id} and name = #{name} and email = #{email}
		]]>
	</update>
	
	<!-- 현재 비밀번호 확인 -->
	<select id="checkPw" resultType="Integer">
		<![CDATA[
			select count(*) from member_tbl where id = #{id} and pw = #{pw}
		]]>
	</select>
	
	<!-- 비밀번호 업데이트 -->
	<update id="updatePw">
		<![CDATA[
			update member_tbl set pw = #{pw} where id = #{id} and pw = #{pw}
		]]>
	</update>
	
	<!-- 회원정보 수정 -->
	<update id="update" >
		<![CDATA[
			update member_tbl set nickName = #{nickName}, phone = #{phone}, email = #{email} where id = #{id}
		]]>
	</update>
	
	<!-- 전체 회원 리스트 -->
	<select id="getUserList" resultType="kr.co.librarylyh.domain.UserVO">
		<![CDATA[
			select * from member_tbl where authority = #{authority}
		]]>
	</select>
	
	<update id="adminRegister">
		<![CDATA[
			update member_tbl set authority = 1 where u_id = #{u_id}
		]]>
	</update>
	
	<select id="read" resultType="kr.co.librarylyh.domain.UserVO" >
		<![CDATA[
			select * from member_tbl where id = #{id}
		]]>
	</select>
	
	<select id="readInfo" resultType="kr.co.librarylyh.domain.UserVO" >
		<![CDATA[
			select * from member_tbl where u_id = #{u_id}
		]]>
	</select>
	
	<!-- 회원탈퇴 -->
	<delete id="delete">
		<![CDATA[
			delete member_tbl where pw = #{pw}
		]]>
	</delete>
	
	
	<!-- 일일 로그인 포인트 지급 2024 10 02 -->
	<update id="updateLastVisitAndPoint" >
    	update member_tbl 
    	set point = #{point}, lastVisitDate = #{lastVisitDate}
    	where id = #{id}
	</update>
	
	<!-- 유저 책 요청 전체 데이터 수 2024 10 03 -->
	<select id="getTotalMyRequest" resultType="int">
		<![CDATA[
		select count(*) from tbl_requestBook where		
		r_bookBno > 0 and r_bookUserId = #{r_bookUserId} 
		]]>
		
	</select>
	
	<!-- 관리자 책 요청 전체 데이터 수 2024 10 03 -->
	<select id="getTotalAdminRequest" resultType="int">
		<![CDATA[
		select count(*) from tbl_requestBook
		]]>
		
	</select>

	<!-- 유저 포인트 내역 전체 데이터 수 2024 10 03 -->
	<select id="getTotalMyPoint" resultType="int">
		<![CDATA[
		select count(*) from tbl_bookPoint where		
		bookPointNo > 0 and bookPointUserId = #{bookPointUserId} 
		]]>
		
	</select>
	
	<!-- 관리자 포인트 내역 전체 데이터 수 2024 10 03 -->
	<select id="getTotalAdminPoint" resultType="int">
		<![CDATA[
		select count(*) from tbl_bookPoint
		]]>
		
	</select>
	
	<!-- 비밀번호 업데이트 -->
	<update id="updateLastVisitDate">
		<![CDATA[
			update member_tbl set lastVisitDate = #{lastVisitDate}
		]]>
	</update>
	
	
	
</mapper>